<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#">Baxter</a>

    <% if(user.type === 'steward') { %>
    <ul class="nav">
      <li><a href="#control">Control</a></li>
      <li><a href="#guests">Guests</a></li>
      <li><a href="#imps">Imps</a></li>
    </ul>
    <% } %>

    <% if(!!user.name){ %>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><small>You are a <%= user.type %>.</small></li>
          <li class="divider"></li>
          <li><a href="#" id="submitLogout">Log out</a></li>
        </ul>
      </li>
    </ul>
    <% } %>
  </div>
</div>